<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--   ===== Link Swiper's CSS =====-->
  <link
          rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />

<!--   ===== Fontawesome CDN Link =====-->
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <title>Artist Details</title>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Spotify X Genius</title>
  <link href="/static/style.css" rel="stylesheet" />
  <script src="/static/script.js" defer></script>
</head>
<body>
<div class="navbarDiv">
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a href="#!">SpotifyGenius</a>
      <a class="btn btn-primary" href="#signup">Sign In</a>
    </div>
  </nav>
</div>

<!-- Masthead-->
<!--<header class="masthead">-->

<div class="searchAndResults">
  <div class="searchTitle"> Search An Artist</div>
  <div class="searchDiv">
    <form
            class="form"
            id="searchForm"
            action="/searchArtistQuery"
            method="get"
            onsubmit="submitForm()"
    >
      <label for="search">
        <input
                required=""
                autocomplete="off"
                placeholder="Search Artist"
                name="query"
                id="search"
                type="text"
        />
        <div class="icon">
          <svg
                  stroke-width="2"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="swap-on"
          >
            <path
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    stroke-linejoin="round"
                    stroke-linecap="round"
            ></path>
          </svg>
          <svg
                  stroke-width="2"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="swap-off"
          >
            <path
                    d="M10 19l-7-7m0 0l7-7m-7 7h18"
                    stroke-linejoin="round"
                    stroke-linecap="round"
            ></path>
          </svg>
        </div>
        <button type="reset" class="close-btn">
          <svg
                  viewBox="0 0 20 20"
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
          >
            <path
                    clip-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </label>
    </form>
  </div>


  <div class="artistCardDiv">
    <section class="artistCard">
      <div class="swiper mySwiper swiper-container-artistCard">
      <div class="swiper-wrapper content">
          <div class="swiper-slide card" th:each="profile : ${artist}">
            <div class="card-content">
              <div class="image">
                <form th:action="@{/searchArtistQuery}" method="get">
                  <input
                          type="hidden"
                          name="query"
                          th:value="${param.query}"
                  />
                  <input
                          type="hidden"
                          name="queryTrackArtist"
                          th:value="${profile['name']}"
                  />
                    <input
                            type="hidden"
                            name="queryArtistImage"
                            th:value="${profile['imageUrls']}"
                    />
                  <a
                          href="#"
                          onclick="this.parentNode.submit(); return false;"
                  >
                    <img
                            class="image" id="artistCardImage"
                            th:src="${profile.imageUrls != null && !profile.imageUrls.isEmpty() ? profile.imageUrls[0] : 'https://i.stack.imgur.com/34AD2.jpg'}"
                            alt="Artist Image"
                    />
                  </a>
                </form>
              </div>


              <div class="name-profession">
                <form th:action="@{/searchArtistQuery}" method="get">
                  <input
                          type="hidden"
                          name="query"
                          th:value="${param.query}"
                  />
                  <input
                          type="hidden"
                          name="queryTrackArtist"
                          th:value="${profile['name']}"
                  />
<!--                                                  <span class="name" th:text="${profile['name']}"></span>-->
                                        <a
                                          href="#"
                                          onclick="this.parentNode.submit(); return false;"
                                          class="name"
                                          th:text="${profile['name']}"
                                        ></a>
                </form>
                <a th:href="${profile['externalUrl']}">
                  <span class="profession">Spotify Profile</span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </section>
  </div>
</div>

<div class="artistProfileAndTracks">

  <div id="chosenArtistSection" class="singleArtistProfile">
    <section id="trackProfileResults">
      <div><h3 class="second-page-title">Artists top Tracks!</h3>
        <div class="Sartist-card">
          <img th:src="${chosenArtistImgUrl}" alt="SArtist Name" class="Sartist-image">
          <div class="Sartist-info">
            <div th:text="${artistNameDebug}" class="artist-name"> - Artist Name</div>
            <div class="artist-detail">Link</div>
          </div>
        </div>
      </div>
      <div class="track-cards-container">
        <!-- Your track profile content goes here -->
        <!-- For example, you can use th:each to iterate over your tracks -->
        <div th:each="trackProfile : ${track}">
              <form class="track-card" th:action="@{/searchArtistQuery}" method="get" target="lyricsFrame">
                  <input type="hidden" name="fetchLyrics" value="true" />
                  <input type="hidden" name="trackName" th:value="${trackProfile['name']}" />
                  <input type="hidden" name="artistName" th:value="${trackProfile['Artists']}" />
<!--                  />-->

                      <!--            <a th:href="${trackProfile['externalUrl']}">-->
                      <a
                              href="#"
                              onclick="this.parentNode.submit(); return false;"
                              type="submit"
                              id="trackForm"
                      >
                          <img
                                  th:src="${trackProfile.imageUrls != null && !trackProfile.imageUrls.isEmpty() ? trackProfile.imageUrls[0] : 'https://i.stack.imgur.com/34AD2.jpg'}"
                                  alt="Track Image"
                          />
                      </a>
                  <div class="track-info">
                      <h3 th:text="${trackProfile['name']}"></h3>
                      <p th:text="${trackProfile['Artists']}"></p>
                  </div>
              </form>
        </div>
        </div>
    </section>

  </div>
</div>

<div class="lyricsAndYoutube">
  <div class="Songlyrics">
    <div class="current-song-card">
      <div class="album-art">
        <img src="https://i.stack.imgur.com/34AD2.jpg" alt="Album Art">
      </div>
      <div class="song-info">
        <h2 th:text="${chosenArtist}"> - </h2>
          <h2 th:text="${chosenTrack}"> - </h2>
      </div>

    </div>
    <div class="youtube-video">
        <iframe width="560"
                height="315"
                th:src="${videoUrl}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>

  </div>

  <div class="lyrics-section">
<!--    <h3 th:text="${trackProfile['name']}"> Lyrics</h3>-->
    <div class="lyrics-content">
      <span th:text="${lyrics}">[Lyrics will be displayed here]</span>
    </div>
  </div>
</div>

<!--&lt;!&ndash; Add the form to fetch lyrics &ndash;&gt;-->
<!--<form th:action="@{/searchArtistQuery}" method="get">-->
<!--  &lt;!&ndash; Pass the necessary parameters to fetch the lyrics &ndash;&gt;-->
<!--  <input type="hidden" name="fetchLyrics" value="true" />-->
<!--&lt;!&ndash;  <input type="hidden" name="trackName" th:value="${trackName}" />&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="hidden" name="artistName" th:value="${artistName}" />&ndash;&gt;-->
<!--  <button type="submit">Fetch Lyrics</button>-->
<!--</form>-->



<!-- JavaScript code and footer -->

<div>
  <footer>
    <p>© 2023 Spotify X Genius. All rights reserved.</p>
  </footer>
</div>

<script>
  var urlParams = new URLSearchParams(window.location.search);
  var queryParam = urlParams.get("query");
  var queryParamTrack = urlParams.get("queryTrackArtist");

  if (queryParamTrack == null) {
    // Scroll to the profile results section
    window.location.href = "#profileResults";
  } else if (queryParamTrack) {
    // Scroll to the profile results section
    window.location.href = "#trackProfileResults";
  }
</script>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
  // Get all swiper container elements
  const swiperContainers = document.querySelectorAll(".swiper-container");

  // Initialize each Swiper instance with its unique class name
  swiperContainers.forEach((container, index) => {
    container.classList.add(`swiper-container-${index}`);
    new Swiper(`.swiper-container-${index}`, {
      // ... Add the appropriate options for each carousel ...
      // For example, use different slidesPerView, spaceBetween, etc.
    });
  });

  // Initialize the swiper for the artistCard section
  var artistSwiper = new Swiper(".swiper-container-artistCard", {
    slidesPerView: 4,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  // // Smooth scrolling when clicking on the artist card image
  // document.getElementById("artistCardImage").addEventListener("click", function (event) {
  //   event.preventDefault();
  //   const targetSection = document.getElementById("chosenArtistSection");
  //   const targetOffset = targetSection.offsetTop;
  //
  //   // Optionally, you can add an offset to adjust the scroll position if needed
  //   const offset = 50;
  //
  //   window.scroll({
  //     top: targetOffset - offset,
  //     behavior: "smooth",
  //   });
  // });

</script>






</body>
</html>
